input[type="checkbox"] {
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
}

button {
  float: right;
  padding: 5px 10px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px
}

button.btn-delete:hover {
  cursor: pointer;
  background: red;
  color: white;
}

button.btn-primary:hover {
  cursor: pointer;
  background: #0d6efd;
  color: white;
}

form {
  padding: 10px;
}

input[type="text"] {
  width: 95%;
  box-sizing: border-box;
  padding: 10px;
  margin: 6px 0;
  border: 0;
  border-radius: 5px;
}

input[type="submit"] {
  margin: 10px auto;
  padding: 10px 15px;
  border: 0;
  margin: 0px 20px;
  cursor: pointer;
  border-radius: 7px;
}

input[type="submit"]:hover {
  background-color: #198754;
  color: white
}

button {
  display: inline-block;
  margin-bottom: 5px;
  align-items: center;
}

h1 {
  text-align: center;
}

.todo-item {
  margin: 3px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}

.todo-item.active {
  text-decoration: line-through
}